p{
    color: red;
}


h1{
    color: #1e00ff;
    background-color: #f0f0f0;
    padding: 55px; 
    margin-left: 55px;
     border: 2px solid #000;
}

.highlight-text{
    color: blue;
}

.box{
    background-color: blue;
    color: white;
    min-height: 100px;
    text-align: center;
}

.box2{
    background-color: red;
    color: white;
    min-height: 100px;
    text-align: center;
}

@media (max-width:650px)
{
    body{
        background-color: #b3f0ff;
        color: #FFF;
        font-family: sans-serif;
    }
}